<div class="game-over">
  <h1>Game Over!</h1>
  <span> <%= @winner %> has won the game!</span>
</div>

<marquee>
  <%= image_tag ("beach.png") %>
</marquee>

<embed src="<%= audio_path 'win.mp3'%>" autostart
  width="2" height="0">
</embed>
