html {
  background-color: #e8e8e8;
}

body {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif
}

h1 {
  margin: 0.25em 0 0 0;
}

h2 {
  font-size: 0.5em;
  margin: 0;
}

h3 {
  margin: 0 0 1em 0;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__rules {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__link {
    border: 1px solid #000000;
    display: block;
    padding: 1.5em 2em;
  }
}

.games-list {
  border: 1px solid #000000;
  height: 300px;
  list-style: none;
  margin: 1em 0;
  overflow-y: scroll;
  padding: 0;
  width: 30em;

  &__item {
    border-bottom: 1px solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0.5em;
  }

  &__links {
    display: flex;
    flex-direction: row;
  }
}

.new-game {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    margin-bottom: 1em;
  }

  input {
    margin-bottom: 3em;
  }
}

.column-wrapper {
  display: flex;

  @media (max-width: 925px) {
    flex-direction: column;
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em;

  @media (max-width: 925px) {
    padding: 0;
  }
}

.button {
  background-color: #418A47;
  border: none;
  color: #FFFFFF;
  display: flex;
  font-size: 1em;
  justify-content: center;
  padding: 0.75em 1.5em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 15em;

  &:hover {
    background-color: darken(#418A47, 5%);
    cursor: pointer;
  }

  &--dice {
    &:hover {
      cursor: image-url("dice.png"), auto;
    }
  }

  &--reset {
    background-color: #FF8F00;

    &:hover {
      background-color: darken(#FF8F00, 5%);
      cursor: pointer;
    }
  }

  &--disabled {
    background-color: #878585;

    &:hover {
      background-color: #878585;
      cursor: not-allowed;
    }
  }

  &--exit {
    background-color: #FF1D47;

    &:hover {
      background-color: darken(#FF1D47, 5%);
      cursor: pointer;
    }
  }

  &--small {
    font-size: 0.5em;
    margin-right: 0.5em;
    padding: 1em 2em;
    text-decoration: none;
    width: auto;
  }

  &--full {
    width: 100%;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: 0;
  padding: 0;
}

.tile {
  font-size: 1em;
  align-items: center;
  background-image: image-url("tile.png");
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  min-height: 60px;
  min-width: 60px;

  @for $i from 0 through 9 {
    &--#{$i} {
      grid-row-start: 10;
    }
  }

  $tencolumns: 10;
  @for $i from 10 through 19 {
    &--#{$i} {
      grid-column-start: $tencolumns;
      grid-row-start: 9;
    }
    $tencolumns: $tencolumns - 1;
  }

  @for $i from 20 through 29 {
    &--#{$i} {
      grid-row-start: 8;
    }
  }

  $thirtycolumns: 10;
  @for $i from 30 through 39 {
    &--#{$i} {
      grid-column-start: $thirtycolumns;
      grid-row-start: 7;
    }
    $thirtycolumns: $thirtycolumns - 1;
  }

  @for $i from 40 through 49 {
    &--#{$i} {
      grid-row-start: 6;
    }
  }

  $fiftycolumns: 10;
  @for $i from 50 through 59 {
    &--#{$i} {
      grid-column-start: $fiftycolumns;
      grid-row-start: 5;
    }
    $fiftycolumns: $fiftycolumns - 1;
  }

  @for $i from 60 through 69 {
    &--#{$i} {
      grid-row-start: 4;
    }
  }

  $seventycolumns: 10;
  @for $i from 70 through 79 {
    &--#{$i} {
      grid-column-start: $seventycolumns;
      grid-row-start: 3;
    }
    $seventycolumns: $seventycolumns - 1;
  }

  @for $i from 80 through 89 {
    &--#{$i} {
      grid-row-start: 2;
    }
  }

  $ninetycolumns: 10;
  @for $i from 90 through 99 {
    &--#{$i} {
      grid-column-start: $ninetycolumns;
      grid-row-start: 1;
    }
    $ninetycolumns: $ninetycolumns - 1;
  }

  &--lrc {
    background-image: image-url("lower_right_lift_tile.png");
  }

  &--urc {
    background-image: image-url("upper_right_lift_tile.png");
  }

  &--llc {
    background-image: image-url("lower_left_lift_tile.png");
  }

  &--ulc {
    background-image: image-url("upper_left_lift_tile.png");
  }

  &--positive {
    background-image: image-url("shortcut_tile.png");
  }

  &--negative {
    background-image: image-url("broken_tile.png");
  }

  &__numbers {
    align-self: flex-end;
    color: #CCCCCC;
    margin: 4px;
    opacity: 0.45;
    text-shadow: 0.5px 0.5px 0.5px #000000;
  }

  &__counters {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3px;
    width: 100%;
  }
}

.counter {
  &:after {
    border-radius: 0%;
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
  }

  &--0 {
    &:after {
      background-image: image-url("sprite_red.png")
    }
  }

  &--1 {
    &:after {
      background-image: image-url("sprite_green.png")
    }
  }

  &--2 {
    &:after {
      background-image: image-url("sprite_blue.png")
    }
  }

  &--3 {
    &:after {
      background-image: image-url("sprite_purple.png")
    }
  }
}

.player-list {
  margin: 0 0 1em 0;

  &__player {
    align-items: center;
    display: flex;
  }

  th {
    text-align: left;
  }

  tr th:nth-child(2),
  tr td:nth-child(2) {
    padding-left: 1em;
  }
}

.game-log {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  height: 15em;
  overflow-x: scroll;
  padding: 0.25em;
}

.highlight {
  background-color: peachpuff;
}

.game-over {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
